
@{
    ViewBag.Title = "LectureMaterials";
}

<h2>LectureMaterials</h2>

<div>
    <h3>Level 01</h3>
    <ul><li>@Html.ActionLink("Subject no 01","LectureFiles","Student")</li></ul>
    <ul><li>@Html.ActionLink("Subject no 02","LectureFiles","Student")</li></ul>
    <ul><li>@Html.ActionLink("Subject no 03","LectureFiles","Student")</li></ul>

</div>

<div>
    <h3>Level 02</h3>
    <ul><li>@Html.ActionLink("Subject no 01","LectureFiles","Student")</li></ul>
    <ul><li>@Html.ActionLink("Subject no 02","LectureFiles","Student")</li></ul>
    <ul><li>@Html.ActionLink("Subject no 03","LectureFiles","Student")</li></ul>

</div>

<div>
    <h3>Level 03</h3>
    <ul><li>@Html.ActionLink("Subject no 01","LectureFiles","Student")</li></ul>
    <ul><li>@Html.ActionLink("Subject no 02","LectureFiles","Student")</li></ul>
    <ul><li>@Html.ActionLink("Subject no 03","LectureFiles","Student")</li></ul>

</div>