@{
    ViewBag.Title = "Lecture materials";
}
<h2>@ViewBag.Title.</h2>
<div>
    <h3>Subject no 01</h3>

    <ul><li>@Html.ActionLink("Level 01","AddLectureMaterials","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Level 02","AddLectureMaterials","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Level 03","AddLectureMaterials","Teacher")</li></ul>
</div>

<div>
    <h3>Subject no 02</h3>

    <ul><li>@Html.ActionLink("Level 01","AddLectureMaterials","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Level 02","AddLectureMaterials","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Level 03","AddLectureMaterials","Teacher")</li></ul>
</div>

<div>
    <h3>Subject no 03</h3>

    <ul><li>@Html.ActionLink("Level 01","AddLectureMaterials","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Level 02","AddLectureMaterials","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Level 03","AddLectureMaterials","Teacher")</li></ul>
</div>
