@{
    ViewBag.Title = "Evaluation";
}
<h2>@ViewBag.Title.</h2>

<div>
    <h3>Level 01</h3>
    <ul><li>@Html.ActionLink("Subject No 01","AddMarks","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Subject No 02","AddMarks","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Subject No 03","AddMarks","Teacher")</li></ul>

</div>

<div>
    <h3>Level 02</h3>
    <ul><li>@Html.ActionLink("Subject No 01","AddMarks","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Subject No 02","AddMarks","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Subject No 03","AddMarks","Teacher")</li></ul>

</div>

<div>
    <h3>Level 03</h3>
    <ul><li>@Html.ActionLink("Subject No 01","AddMarks","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Subject No 02","AddMarks","Teacher")</li></ul>
    <ul><li>@Html.ActionLink("Subject No 03","AddMarks","Teacher")</li></ul>

</div>